#root {
  //border: 2px white dotted;
  width: 100vw;
  height:100vh;
  margin: 0 auto;
  text-align: center;
}

.App {
  background-image: url(./assets/crowd.jpg);
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.header-container{
  background-color: rgba(0, 0, 0, .6);
  width: 100%;
  padding: 0;
  margin-bottom: 1rem;
}

.header-container h1 {
  //border: 1px red solid;
  margin: .5rem 0 1rem 0;
}

.header-container span {
  color: #1DB954;
}

.results-playlist-container {
  margin: auto 0;
  display: flex;
  justify-content: center;
  gap: .5rem;
  //border: 2px white solid;
  width: 80vw;
  box-sizing: border-box;
}

.results-container, .playlist-container {
  background-color: rgba(0, 0, 0, .6);
  border: 2px black solid;
  border-radius: .75rem;
  min-width: 39vw;
  min-height: 21vh;
  box-sizing: border-box;
  text-align: left;
  padding-left: .5rem;
}
.results-playlist-container .header {
  padding-bottom: .25rem;
  border-bottom: 1px white solid;
}